{% extends 'portfolio/base.html' %}
{% load static %}
 
{% block content %}

   <center><h2 >{{ project.title }}</h2></center>
   
   
   {% if project.url %}
            <a href="{{ project.url }}"target="_blank" >
               <img class="projImages" src="{{ project.image.url }}">
           </a>
   {% else %}
            <img class="projImages" src="{{ project.image.url }}" >
   {% endif %}


  
      {{ project.description|safe }}
      <br>
      {% if project.url %}
                  <a href ="{{project.url}}" target="_blank"> 
                     <center><button type="button" class="btn btn-info">Code/Live</button></center>
                  </a>
      {% endif %} 

{% endblock %}
